[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cybox = "*"
lxml = "*"
mixbox = "*"
ordered-set = "*"
python-dateutil = "*"
six = "*"
stix = "*"
virtualenv = "*"
weakrefmethod = "*"
maec = "*"

[dev-packages]

[requires]
python_version = "2.7"
