[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asn1crypto = "*"
cached-property = "*"
certifi = "*"
cffi = "*"
chardet = "*"
cryptography = "*"
defusedxml = "*"
dnspython = "*"
enum34 = "*"
exchangelib = "==1.12.0"
future = "*"
idna = "*"
ipaddress = "*"
isodate = "*"
lxml = "*"
ntlm-auth = "*"
pycparser = "*"
pygments = "*"
pykerberos = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
requests-kerberos = "*"
requests-ntlm = "*"
six = "*"
tzlocal = "*"
urllib3 = "*"
dateparser = "*"

[dev-packages]

[requires]
python_version = "2.7"
