[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
editdistance = "*"
pandas = "*"
scikit-learn = "*"
ipaddress = "*"

[dev-packages]

[requires]
python_version = "2.7"
