[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = {extras = ["socks"],version = "*"}
olefile = "*"
python-dateutil = "*"
dateparser = "*"
pyyaml = ">=5.4"
regex = "==2021.7.6"
funcy = "*"
tldextract = "*"
requests-file = "<1.5.0"
certifi = ">=2024.7.4"
setuptools = ">=78.1.1"
wheel = ">=0.38.0"

[requires]
python_version = "2.7"
