# CODEOWNERS
# How this file is used? See: https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/docker/*.json @demisto/marketplace-infra-tls
/docker/verify_licenses.py @demisto/marketplace-infra-tls

/docker/demisto-sdk/ @demisto/marketplace-infra-tls

docker/ml @jlevypaloalto
docker/mlclustering @jlevypaloalto
docker/mlurlphishing @jlevypaloalto
docker/sklearn @jlevypaloalto
