# CODEOWNERS
# How this file is used? See: https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/docker/*.json @glicht @anara123
/docker/verify_licenses.py @glicht @anara123

/docker/py3-native/Dockerfile @GuyAfik @JudahSchwartz
/docker/py3-native/pyproject.toml @GuyAfik @JudahSchwartz
/docker/py3-native/verify.py @GuyAfik @JudahSchwartz
/docker/py3-native/README.md @GuyAfik @JudahSchwartz