[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demisto-py = "*"
demisto-sdk = "==1.32.1" # this should only be modified manually. only specify a version, do not use *.

[dev-packages]

[requires]
python_version = "3.11"
