[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demisto-sdk = {git = "https://github.com/demisto/demisto-sdk.git", rev = "f863611ed3caf0a2f33bc17edb9af2bf3b9aee77"}
demisto-py = "*"

[dev-packages]

[requires]
python_version = "3.10"
