[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demisto-py = "*"
demisto-sdk = {git = "https://github.com/demisto/demisto-sdk", rev= "5a1d1f5d2f0b98a09d26c32673ddbf5220ad65cb"}

[dev-packages]

[requires]
python_version = "3.10"