[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightgbm = "==3.3.0"
numpy = "~= 1.17"
scikit-learn = "== 0.23.2"
joblib = ">=0.13.2,<0.17"
fasttext = "*"
stringsifter= "~= 2.0"

[requires]
python_version = "3.8"
