.DS_Store
.idea
_site
.vscode
*.pyc
.pytest_cache
dockerfiles-trust
.python-version
.venv
/report.xml
# Ignoring Infra folders created during the build.
/Tests
# This is the Utils from Infra, not the utils from this repository.
/Utils
/config
# Ignoring build folders.
pipeline_jobs_folder
artifacts
