[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ruamel.yaml" = "*"
requests = "*"
dockerfile_parse = "*"
pyyaml = "*"
regex = "*"
python-dateutil = "*"
gitpython = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
