[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
syslogmp = "*"
syslog-rfc5424-parser = "*"
gevent = "21.12.0"
rfc5424-logging-handler = "*"

[dev-packages]

[requires]
python_version = "3.9"
