[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "==4.5.5.64"  # using previous version until fixed https://github.com/opencv/opencv-python/issues/676
scikit-learn = "*"
pandas = "*"
beautifulsoup4 = "*"
dill = "*"
catboost = "*"

[requires]
python_version = "3.7"
