[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzbar = "*"
wurlitzer = "*"
# XSUP-72883: opencv 5.x bundles a RedHat OpenSSL 1.1.1k that crashes the FIPS
# self-test. Pin cv2 to 4.11.0.86 (bundles vanilla libssl.so.1.1).
opencv-contrib-python = "==4.11.0.86"

[dev-packages]

[requires]
python_version = "3.12"
