[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzbar = "*"
wurlitzer = "*"
# XSUP-72883: pin cv2; newer wheels bundle OpenSSL 1.1.1k that fails FIPS self-test.
opencv-contrib-python = "==4.11.0.86"

[dev-packages]

[requires]
python_version = "3.12"
