[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
armorblox = {git = "https://github.com/armorblox/armorblox-python-sdk"}

[dev-packages]

[requires]
python_version = "3.9"
