[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
uvicorn = "*"
fastapi_utils = "*"
httpx = "*"
pydantic = ">=1.0.0,<2.0.0" # prevent unintended upgrade to v2
respx = "*"

[requires]
python_version = "3.12"
