[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudshare = "*"
intezer-sdk = "*"
emoji = "*"
exifread = "*"
"stomp.py" = "*"
geopy = "*"
dnspython = "*"
algorithmia = "*"
asana = "*"
feedparser = "*"
beautifulsoup4 = "*"
mail-parser = "*"
imap-tools = "*"
imapclient = "*"
pyjarm = "*"
pyminizip = "*"
paho-mqtt = "*"
arrow = "*"
pytz = "*"
python-dateutil = "*"
vertica-python = "*"
sendgrid = "*"
circleci = "*"
rsa-archer = "*"
rsa = "*"
tweepy = "*"
tld = "*"
validate-email = "*"
requests = "*"
markdownify = "*"
langdetect = "*"
gql = "*"
minio = "*"
ldap3 = "*"
pymongo = "*"
cyjax-cti = "*"
pyzabbix = "*"
jmespath = "*"
tldextract = "*"
stix2 = "*"
taxii2-client = "*"
xlrd = "==1.2.0"
elasticsearch = "*"
opensearch-py = "*"
elasticsearch-dsl = "*"
opensearch_dsl = "*"
aiohttp = "*"
PyVirtualDisplay = "*"
pdf2image = "*"
PyPDF2 = "*"
pypdf2 = "*"
pikepdf = "*"
webdriver-manager = "*"
numpy = "*"
selenium = "*"
bs4 = "*"
cffi = "*"
cryptography = "*"
msal = "*"
pan-os-python = "*"
lxml = "*"
dxlmarclient = "*"
dxltieclient = "*"
dxlclient = "*"
slack-sdk = {extras = ["optional"], version = "*"}
boto3 = "*"
exchangelib = "==1.12.0"
chardet = "*"
requests-oauthlib = "*"
oauthlib = {extras = ["signedtoken"], version = "*"}
tzlocal = "*"
defusedxml = "*"
isodate = "*"
future = "*"
idna = "*"
ipaddress = "*"
six = "*"
enum34 = "*"
ntlm-auth = "*"
urllib3 = "*"
requests-ntlm = "*"
pycparser = "*"
asn1crypto = "*"
requests-kerberos = "*"
certifi = "*"
pygments = "*"
cached-property = "*"
pykerberos = "*"
oauth2client = "*"
google-api-python-client = "*"
netaddr = "*"
python-docx = "*"
pycryptodome = "*"
pandas = "*"
scikit-learn = "*"
editdistance = "*"
python-magic = "*"
pyshark = "*"
phrases-case = "*"
markdown = "*"
xmltodict = "*"
nltk = "*"
parse-emails = "*"

[dev-packages]

[requires]
python_version = "3.10"
