[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymisp = {version = "==2.4.162.2", extras=["email"]}
# The earliest version of emailObject and latest version before pymisp started using

[dev-packages]

[requires]
python_version = "3.8"
