[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymisp = {version = ">=2.4.89,<=2.4.135", extras=["email"]}
# The earliest version of EmailObject and latest version before extract-msg was introduced.

[dev-packages]

[requires]
python_version = "3.8"
