[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==v3.4.8"
pymisp = {version = "*", extras = ["email"]}

[dev-packages]

[requires]
python_version = "3.9"
