[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sane-doc-reports = {editable = true,path = "."}
pytest = "*"
pytest-clarity = "*"
pytest-cov = "*"

[packages]
python-docx = "*"
fastjsonschema = "*"
matplotlib = "*"
pyquery = "*"
mistune = "==0.8.4"
requests = "*"
arrow = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
