[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sane-doc-reports = {editable = true,path = "."}
pytest = "*"
pytest-clarity = "*"
pytest-cov = "*"

[packages]
click = "*"
python-docx = "*"
webcolors = "*"
fastjsonschema = "*"
matplotlib = "*"
pyquery = "*"
mistune = "*"
requests = "*"
moment = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
