[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ldap3 = "*"
pycryptodome = "*" # see XSUP-58147, after the ldap will release a new version, we can remove this (https://github.com/cannatag/ldap3/issues/1051)

[requires]
python_version = "3.12"
