[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
tiktoken = "*"
pdf2image = "*"
pypdf = "*"
faiss-cpu = "*"
unstructured = {extras = ["local-inference"], version = "*"}
layoutparser = {extras = ["layoutmodels", "tesseract"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
