[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "1.29.0"
gitpython = "*"
packaging = "*"

[dev-packages]

[requires]
python_version = "3.9"
