[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ruamel.yaml" = "*"
requests = "*"
dockerfile_parse = "*"
pyyaml = "*"
regex = "*"
python-dateutil = "*"
gitpython = "*"
privx-api = {editable = true, ref = "v34.0.1", git = "https://github.com/SSHcom/privx-sdk-for-python.git"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
