jobs:
  docker_build:
    docker:
      - image: devdemisto/dockerbuild:1.0.0.56
    steps:
      - checkout
      - run:
          name: Validate Approved Licenses File
          command: python -m jsonschema -i docker/approved_licenses.json docker/approved_licenses.schema.json
      - setup_remote_docker
      - run:
          name: Build Docker Images
          command: |
            ./docker/build_docker.sh
workflows:
  version: 2
  full_build:
    jobs:
      - docker_build