[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
httpx = "*"
urllib3 = "*"
numpy = "*"
langchain = "*"
langchain-openai = "*"
langchain-neo4j = "*"

[requires]
python_version = "3.12"
