[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-api-python-client = "*"
oauth2client = "*"
google-cloud-storage = "*"
httplib2 = {git = "https://github.com/httplib2/httplib2.git", rev = "941fa81403295dff62eef7a169453e5308b92055"}

[requires]
python_version = "3.7"
