[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
axonius-api-client = "==5.*"
pyopenssl = "*"
urllib3 = "==1.26.20"
requests = "==2.34.2"

[requires]
python_version = "3.12"
