-i https://pypi.org/simple
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
dill==0.4.1
google-api-core==2.30.3
google-auth==2.53.0
google-cloud-core==2.6.0
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-resumable-media==2.9.0
googleapis-common-protos==1.75.0
idna==3.16
joblib==1.5.3
numpy==2.4.6
pandas==3.0.3
proto-plus==1.28.0
protobuf==7.35.0
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
python-dateutil==2.9.0.post0
requests>=2.34.2
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
urllib3>=2.7.0
