[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-clarity = "*"
pytest-cov = "*"

[packages]
click = "*"
python-docx = "*"
webcolors = "*"
fastjsonschema = "*"
matplotlib = "*"
pyquery = "*"
mistune = "==0.8.4"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
