[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
certifi = "*"
chardet = "*"
cssselect = "*"
fastjsonschema = "*"
idna = "*"
kiwisolver = "*"
lxml = "*"
matplotlib = "*"
mistune = "*"
numpy = "*"
pyparsing = "*"
pyquery = "*"
python-dateutil = "*"
python-docx = "*"
requests = "*"
six = "*"
urllib3 = "*"
Cycler = "*"
Pillow = "*"
sane-doc-reports = {editable = true, ref = "master", git = "https://github.com/demisto/sane-doc-reports.git"}

[dev-packages]

[requires]
python_version = "3.9"
