[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keeper-secrets-manager-core = "*"
keeper-secrets-manager-helper = "*"
keepercommander = "*"

[dev-packages]

[requires]
python_version = "3.10"
