[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pykafka = {git = "https://github.com/Parsely/pykafka.git", editable = true, ref = "e7665bf36bfe521050fdcb017c68e92365bd89ed"}

[requires]
python_version = "2.7"
