[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tika = "*"

[packages]
selenium = "*"
webdriver-manager = "*"
PyPDF2 = "*"
pdf2image = "*"
numpy = "*"
tika = "*"

[requires]
python_version = "3.7"
