[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
exchangelib = ">=5.4.1"

chardet = "*"
dateparser = "*"
dnspython = "*"
enum34 = "*"
future = ">=1.0.0"
requests-ntlm = "==1.1.0" # lock because of https://github.com/requests/requests-ntlm/issues/136
ntlm-auth = ">=1.5.0"

[requires]
python_version = "3.12.0"