[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
exchangelib = "<=5.0.3" #{editable = false, ref = "master", git = "https://github.com/ecederstrand/exchangelib.git"}
chardet = "*"
dateparser = "*"
dnspython = "*"
enum34 = "*"
future = "*"
requests-ntlm = "==1.1.0" # lock because of https://github.com/requests/requests-ntlm/issues/136
ntlm-auth = "*"
requests = "*"
urllib3 = "*"
requests-kerberos = "*"

cryptography = "*"
cffi = "*"
msal = "*"
bs4 = "*"
pyOpenSSL = "*"


[requires]
python_version = "3.10"