[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
exchangelib = ">=5.4.1"

chardet = "*"
dateparser = "*"
dnspython = "*"
enum34 = "*"
future = ">=1.0.0"
pyspnego = ">=0.5.2" # <0.5.2 calls hashlib.new('md4'), fails under OpenSSL 3.x (XSUP-75734)
requests-ntlm = "==1.3.0"

[requires]
python_version = "3.12"