[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mail-parser = {ref = "d9338e05c135b104e9be8f3f5d20c700d11261f3", git = "https://github.com/JasBeilin/mail-parser.git"}
imap-tools = "*"
imapclient = "*"

[requires]
python_version = "3.8"
