[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reversinglabs-sdk-py3 = "*"
python-rl-threat-hunting = {editable = true, ref = "58329a52442e463762e4878c8916f2a82304658e", git = "https://github.com/reversinglabs/threat_hunting_library.git"}

[dev-packages]

[requires]
python_version = "3.9"
