[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reversinglabs-sdk-py3 = "*"
python-rl-threat-hunting = {editable = true, ref = "51b09f75257ac149e269dd06499c7cc7998d06f7", git = "https://github.com/reversinglabs/threat_hunting_library.git"}

[dev-packages]

[requires]
python_version = "3.9"
