[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reversinglabs-sdk-py3 = "*"
python-rl-threat-hunting = {editable = true, ref = "421208a330d7a9813270485a5d57bd0a52f83a54", git = "https://github.com/reversinglabs/threat_hunting_library.git"}

[dev-packages]

[requires]
python_version = "3.9"
