[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
libtaxii = "*"
stix = "*"
lz4 = "*"
flask = "*"
gevent = "*"
pytz = "*"
cybox = "*"
netaddr = "*"
werkzeug = "*"
stix-validator = "*"
cabby = "*"
lxml = "*"
setuptools = ">=80.9.0" # need just because the version comes from the dependencies are lower, we can remove it once ready

[requires]
python_version = "3.12"
