[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parse-emails = {git = "https://github.com/demisto/parse-emails.git", rev = "3e39616581da0e15dd8d20e9dcfb469f5dda09ef"}
rtfde = "*"

[dev-packages]

[requires]
python_version = "3.10"

