[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parse-emails = {editable = true, ref = "parse_p7m_files", git = "https://github.com/demisto/parse-emails.git"}
rtfde = "*"

[dev-packages]

[requires]
python_version = "3.10"
