certifi==2024.7.4
chardet==4.0.0
charset-normalizer==2.1.1
configparser==7.0.0
future==0.18.3
idna==3.7
JSON-log-formatter==1.0
python-dateutil==2.9.0.post0
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
trustar==0.4.3
tzdata==2023.4
tzlocal==4.3
unicodecsv==0.14.1
urllib3==2.6.0
