certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.1.1
configparser==5.3.0
future==0.18.3
idna==3.4
JSON-log-formatter==0.5.2
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.31.0
six==1.16.0
trustar==0.3.35
tzdata==2023.3
tzlocal==4.3
unicodecsv==0.14.1
urllib3==1.26.15
