[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "==1.2.4"
numpy = "*"
hdbscan = "*"
scikit-learn = "==0.24.1"
dill = "*"

[requires]
python_version = "3.9"