[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymysql = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
cython = "*"
pymssql = "*"
pyodbc = "*"

[requires]
python_version = "3.8"
