[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
rubrik-polaris-sdk-for-python = {editable = true, ref = "crest-2.3", git = "https://github.com/rubrikinc/rubrik-polaris-sdk-for-python"}

[dev-packages]

[requires]
python_version = "3.10"
