[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
rubrik-polaris-sdk-for-python = {editable = true, ref = "3f4e2ee7302c476d12d113fbfb5ec0a03f8c8b1c", git = "https://github.com/rubrikinc/rubrik-polaris-sdk-for-python"}

[dev-packages]

[requires]
python_version = "3.12"