[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psutil = "*"
ansible-runner = "*"
paramiko = "*"
ansible = "==2.9.12"
ssh-agent-setup = "*"
pywinrm = "*"
requests-ntlm = "*"
hcloud = "*"
pyvmomi = "*"
openshift = "*"
pyyaml = "*"
azure-mgmt-compute = "*"
azure-mgmt-storage = "*"
azure-mgmt-resource = "*"
azure-mgmt-network = "*"
dnspython = "*"
footmark = "*"

[requires]
python_version = "3.7"
