[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = {extras = ["socks"],version = "*"}
olefile = "*"
python-dateutil = "*"
dateparser = "*"
pyyaml = "*"
funcy = "*"
tldextract = "*"
setuptools = "=75.3.3"
more-itertools = "*"
defusedxml = "*"
deepmerge = "*"
[requires]
python_version = "3.12"
