[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "testpypi"
url = "https://test.pypi.org/simple/"
verify_ssl = true

[packages]
requests = {extras = ["socks"],version = "*"}
olefile = "*"
python-dateutil = "*"
dateparser = "*"
pyyaml = "*"
funcy = "*"
tldextract = "*"
more-itertools = "*"
defusedxml = "*"
cortex-module-test = {version = "*", index = "testpypi"}

[dev-packages]

[requires]
python_version = "3.12"
