[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudshare = "*"
intezer-sdk = "*"
emoji = "*"
exifread = "*"
"stomp.py" = "*"
geopy = "*"
dnspython = "*"
algorithmia = "*"
asana = "*"
feedparser = "*"
beautifulsoup4 = "*"
mail-parser = "*"
imap-tools = "*"
imapclient = "*"
pyjarm = "*"
pyminizip = "*"
paho-mqtt = "*"
arrow = "*"
pytz = "*"
python-dateutil = "*"
vertica-python = "*"
sendgrid = "*"
circleci = "*"
rsa-archer = "*"
tweepy = "*"
tld = "*"
validate-email = "*"
requests = "*"
markdownify = "*"
langdetect = "*"
gql = "*"
minio = "*"
ldap3 = "*"
pymongo = "*"
cyjax-cti = "*"
pyzabbix = "*"
jmespath = "*"
tldextract = "*"
stix2 = "*"
taxii2-client = "*"
xlrd = "*"
elasticsearch = "*"
opensearch-py = "*"
elasticsearch-dsl = "*"
opensearch_dsl = "*"
aiohttp = "*"
pycryptodome = "*"
requests-toolbelt = "*"

[dev-packages]

[requires]
python_version = "3.10"
