[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demisto-sdk = {git = "https://github.com/demisto/demisto-sdk.git", editable = true, ref = "d9bc80f3930d953fd78c06f6400a9e593638e9e4"}
demisto-py = "*"

[dev-packages]

[requires]
python_version = "3.9"
