[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demisto-sdk = {git = "https://github.com/demisto/demisto-sdk.git", editable = true, ref = "fc4766822e50135fa3243f58dd7f3b9abd715dfe"}
demisto-py = "*"

[dev-packages]

[requires]
python_version = "3.9"
