[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
carbon-black-cloud-sdk = {git = "https://github.com/carbonblack/carbon-black-cloud-sdk-python.git", ref = "develop"}

[dev-packages]


[requires]
python_version = "3.9"
