[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
carbon-black-cloud-sdk = "*"
cbapi = "*"
referencing = "<=0.36.2"

[dev-packages]
cbapi = "*"



[requires]
python_version = "3.12"
