[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cryptography = ">=47.0.0"
cffi = "*"
msal = "*"
bs4 = "*"
pyOpenSSL = "*"
pyzipper = "*"

[requires]
python_version = "3.12"
