[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
elasticsearch = "*"
elasticsearch7 = "*"
opensearch-py = "*"
elasticsearch-dsl = "*"
opensearch_dsl = "*"
protobuf = ">=6.33.5,<7"

[requires]
python_version = "3.12"
