[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-docx = "*"
openpyxl = ">=3.1.2"
python-pptx = "*"
pandas = "*"

[requires]
python_version = "3.11"
