[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-runner = "*"
docutils = "*"
lockfile = "*"
pexpect = "*"
psutil = "*"
ptyprocess = "*"
python-daemon = "*"
pyyaml = "*"
six = "*"
paramiko = "*"
pywinrm = "*"
ansible = "*"
cffi = "*"
jinja2-ansible-filters = "*"

[dev-packages]

[requires]
python_version = "3.10"
