[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "*"
google-api-python-client = "*"
oauth2client = "*"
typing = "*"

[dev-packages]

[requires]
python_version = "2.7"
