[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysigma = "*"
pysigma-backend-cortexxdr = "*"
pysigma-backend-splunk = "*"
pysigma-backend-sentinelone = "*"
pysigma-backend-qradar = "*"
pysigma-backend-microsoft365defender = "*"
pysigma-backend-carbonblack = "*"
pysigma-backend-elasticsearch = "*"

[dev-packages]

[requires]
python_version = "3.11"
