[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysigma = "*"
pysigma-backend-cortexxdr = "*"
pysigma-backend-splunk = "*"
pysigma-backend-sentinelone = "*"
pysigma-backend-qradar = "*"

[dev-packages]

[requires]
python_version = "3.10"
