[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demisto-sdk = "*"
google-cloud-storage = "*"
gitpython = "*"
packaging = "*"

[dev-packages]

[requires]
python_version = "3.9"
