[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jinja2 = "*"
requests = "*"
python-dateutil = "*"
dateparser = "*"
pyyaml = "*"
ansible = "*"
jmespath = "*"

[requires]
python_version = "3.8"
