[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
awscli = "*"
pykwalify = "*"
flake8 = "*"
requests = "*"
slackclient = "*"
pipenv = "*"
pytest-mock = "*"
pyyaml = "*"
mypy = "*"
ansible = "*"
ansible-runner = "*"
rsa = "*"
paramiko = "*"
boto3 = "*"
pyminizip = "*"
beautifulsoup4 = "*"
pypdf2 = "*"


[requires]
python_version = "3.7"
