[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pypdf2 = "*"
pikepdf = "==9.5.2" # they changed the license  https://github.com/pikepdf/pikepdf/commit/6f3aada222b8becb05e56b7e0706238c16a5045e
packaging = "*"
PyCryptodome = "*"

[requires]
python_version = "3.12"
