[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scikit-learn = "*"
pandas = "*"
nltk = "*"
eli5 = "*"
dill = "*"
beautifulsoup4 = "*"
networkx = "*"

[requires]
python_version = "3.10"
