[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
demisto-sdk = "*"
virtualenv = "==20.14.1" # Version is locked due to taking advantage of a bug in venv16.7.7
wheel = "*"

[dev-packages]

[requires]
python_version = "3.10"
