[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
certifi = "2021.10.8"
charset-normalizer = "2.0.9"
idna = "3.3"
python-version = "0.0.2"
requests = "2.26.0"
urllib3 = "1.26.7"

[requires]
python_version = "3.9"