[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
accessdata-sdk = {file = "https://github.com/AccessDataOps/FTK-API-SDK/archive/refs/tags/v0.7.3.zip"}

[requires]
python_version = "3.9"