[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
FTK-API-SDK = {git = "https://github.com/AccessDataOps/FTK-API-SDK.git", editable = true, ref = "dc8b1cef47662bb14358c346be89876968800787"}

[requires]
python_version = "3.9"