[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websocket-client = "*"
websockets = "*"
oauthlib = "*"
requests-oauthlib = "*"
pandas = "*"
pywinrm = "*"
# For pysnmp and snap7 both to work we need this specific version.
pyasn1 = {version="==0.4.8"}
pysnmp = "*"
python-snap7 = "*"
orionsdk = "*"
dnspython = "*"
pyads = "3.5.0"
bs4 = "*"
ping3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
