[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cpu/"
verify_ssl = true
default = false

[packages]
fasttext = "*"
numpy = "*"
scikit-learn = "*"
pandas = "*"
nltk = "*"
lime = "*"
tabulate = "*"
pycryptodome = "*"
spacy = "*"
fsspec = "*"
dill = "*"
catboost = "*"
eli5 = "*"
langdetect = "*"
onnx = "*"
onnxruntime = "*"
transformers = "*"
torch = {version = "*", extras = ["cpu"], index="pytorch"}

[dev-packages]

[requires]
python_version = "3.10"
