[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "*"
fasttext = "*"
numpy = "*"
scikit-learn = "*"
pandas = "*"
nltk = "*"
lime = "*"
tabulate = "*"
pycrypto = "*"
spacy = "*"
fsspec = "*"
dill = "*"
catboost = "*"
eli5 = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.8"
