[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
keras = "*"
fasttext = "*"
scikit-learn = "*"
numpy = "*"
pandas = "*"
nltk = "*"
lime = "*"
tabulate = "*"
pycrypto = "*"
spacy = "*"
fsspec = "*"
dill = "*"
catboost = "*"
eli5 = "*"

[requires]
python_version = "3.7"
