[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
edgegrid-python = "*"
requests = "*"
olefile = "*"
python-dateutil = "*"
dateparser = "*"
pyyaml = "*"
funcy = "*"

[dev-packages]

[requires]
python_version = "3.7"
