    [[source]]
    url = "https://pypi.org/simple"
    verify_ssl = true
    name = "pypi"

    [packages]
    pyVim = "*"
    pyVmomi = "*"
    vsphere-automation-sdk = {file = "https://github.com/vmware/vsphere-automation-sdk-python/archive/refs/tags/v7.0.3.0.tar.gz"}

    [dev-packages]

    [requires]
    python_version = "2.7"
