[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyVim = "*"
pyVmomi = "*"
cryptography = ">=39.0.1" # added explicitly due to security concern. This is a dependency of vsphere-automation-sdk-python and was being set to 36

[dev-packages]

[requires]
python_version = "3.10"