[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
xgboost = "*"
numpy = "*"
pandas = "*"
dill = "*"
eli5 = "*"
scikit-learn = "==1.0.2"
hdbscan = "*"

[requires]
python_version = "3.7"
