[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[[source]]
url = "https://pypi.org"
verify_ssl = false

[[source]]
url = "https://pypi.python.org"
verify_ssl = false

[[source]]
url = "https://files.pythonhosted.org"
verify_ssl = false

[dev-packages]

[packages]
pykwalify = "*"

[requires]
python_version = "3.8"
