[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
flask = "*"
Flask-Cors = "*"
netaddr = "*"
tldextract = "*"
packaging = "*"
taxii2-client = "*"
stix2-patterns = "*"

[dev-packages]

[requires]
python_version = "3.11"
