name: Auto approve
on: 
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest
    if: (github.actor == 'dependabot-preview[bot]' || github.actor == 'dependabot[bot]') && startsWith(github.event.pull_request.title, 'Bump demisto/')
    steps:
      - name: Dump Github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: hmarr/auto-approve-action@v2.0.0        
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
