name: Update internal base images

on:
  pull_request:
    types: [closed]
    branches:
      - master
  workflow_dispatch:
  
jobs:
  update-docker-files:
    if: ${{ github.event.pull_request.merged && contains(github.head_ref, 'autoupdate/') }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
      - name: run
        run: |
            git config --global user.email ""
            git config --global user.name "auto dockerfiles update"
            echo "==== $(date): Starting pipenv setup... ===="
            python -m pip install --upgrade pip
            pip install pipenv
            pipenv install
            echo "==== Finished ===="
            pipenv run python ./utils/auto_dockerfile_update/update_dockerfiles.py -t internal
            echo "Done!"
