[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
poetry = "*"
google-cloud-bigquery = "*"
google-cloud-bigquery-storage = "*"


[requires]
python_version = "3.10"
