[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
attrs = "==19.3.0"
cachy = "==0.3.0"
certifi = "==2019.11.28"
cffi = "==1.15.0"
chardet = "==3.0.4"
cleo = "==0.7.6"
clikit = "==0.4.1"
cryptography = "==2.8"
html5lib = "==1.0.1"
idna = "==2.8"
importlib-metadata = "==4.11.3"
jsonschema = "==3.2.0"
lockfile = "==0.12.2"
pipenv = "==2018.11.26"
pkginfo = "==1.5.0.1"
ptyprocess = "==0.6.0"
pycparser = "==2.19"
pyparsing = "==2.4.5"
pyrsistent = "==0.14.11"
requests = "==2.22.0"
requests-toolbelt = "==0.9.1"
six = "==1.13.0"
urllib3 = "==1.25.7"
virtualenv = "==16.7.9"
virtualenv-clone = "==0.5.3"
webencodings = "==0.5.1"
zipp = "==0.6.0"
pytest = ">=0.0.1"
slackclient = "==2.9.3"
CacheControl = "==0.12.5"
GitPython = ">=0.0.1"
pyspellchecker = "==0.6.2"
awscli = "==1.18.199"
ansible = "==4.2.0"
ansible-runner = "==1.4.2"
rsa = "==3.4.2"
paramiko = "==2.6.0"
pyminizip = "===0.2.4"
google-cloud-storage = "==1.29.0"
google-cloud-bigquery = "==1.26.1"
prettytable = "==0.7.2"
boto3 = "==1.16.39"
mock-open = "==1.4.0"
python-gitlab = "==2.6.0"
PyGithub = "==1.54.1"
xmltodict = "==0.12.0"
circleci = "==1.2.2"

[requires]
python_version = "3.10"
